/* Body Tag */
body {
  background-image: url(album_background.jpg);
  background-attachment: fixed;
  color: white;
  font-weight: 300;
}

/* Nav Header */
#nav-header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 47px;
  background-color: #66cc99;
  box-shadow: 2px 3px 10px rgba(50, 50, 50, 0.75);
  z-index: 900;
}

/* Visited links under #nav-header */
#nav-header a, a:visited {
  color: white;
  text-decoration: none;
  margin-right: 10px;
}

/* Currently active link */
#nav-header a.active {
  font-weight: bold;
}

/* Hero poster */
#hero {
  background-image: url(spkr-hero.jpg);
  background-size: cover;
  height: 160px;
}

/* Text narrative */
.narrative {
  margin-top: 25px;
  font-size: 16px;
}


.card {
  width: 350px;
  height: 300px;
  background-size: 350px 300px;
  background-repeat: no-repeat;
  margin: 50px auto;
  background-color: white;
  border-radius: 15px;
}

.cast {
  position: relative;
  left: 15px;
  top: 195px;
  width: 90%;
  max-height: 15px;
  overflow: hidden;
  font-weight: bold;
  color: white;
}

.description {
  position: relative;
  left: 0;
  top: 310px;
  width: 90%;
  overflow: hidden;
  font-size: 15px;
  font-style: italic;
  color: #555;
  margin: 0 auto;
}

.submitted {
  position: relative;
  left: 15px;
  top: 325px;
  width: 90%;
  overflow: hidden;
  font-size: 15px;
  color: #999;
}

.notes {
  position: relative;
  left: 15px;
  top: 325px;
  height: 40px;
  width: 190px;
  color: gray;
  font-size: 15px;
  padding-top: 10px;
}

.more {
  left: 330px;
  top: 280px;
  position: relative;
}

.share {
  left: 340px;
  top: 280px;
  position: relative;
}

.favorite {
  left: 350px;
  top: 280px;
  position: relative;
}